html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, sans-serif;
    color: white;
}

/* List without puce */
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}


#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    /* position: absolute; */
}

#loadingScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #1c385b;
    background-position: center;
    background-size: cover;
    background-image: url("Background_Loading_BW.jpg");
}

#loadingScreen .content {
    margin-top: 40vh;
    background-color: rgba(15, 17, 30, 0.75);
    border: 1pt solid black;
    color: rgb(255, 247, 221);
    /* box-shadow: 0px 0px 28px 4px rgba(255, 247, 221, 0.75); */
}

#loadPercent {
    font-weight: 100;
    font-size: 0.6em;
    letter-spacing: 6pt;
}

#madeby {
    position: absolute;
    bottom: 8pt;
    right: 8pt;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1pt;
    font-size: 0.8em;
}